/* The popup form - hidden by default */
.form-popup {
	display: none;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.form-popup .close-new-event-btn{
    border: none;
    position: absolute;
    right: 20px;
    top: 15px;
}

#username_not_needed{
	display: none;
}
